@import url('http://fonts.cdnfonts.com/css/bignoodletitling');

* {
    font-family: 'BigNoodleTitling';
}
body {
    background-image: url("../img/background2.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

a:hover {
    color: red;
    border-bottom: 1px solid red;
    text-decoration: none;
}

.card {
    background-color: rgba(245, 245, 245, 0);
    color: white;
}

.navbar {
    font-size: 20px;
}

.navbar li {
    margin-left: 1em;
    margin-right: 1em;
}