<div *ngIf="film">
  <div class="col-6">
    <div class="card col-6 border-0 mx-auto mt-auto mb-auto">
      <img src="{{selectedFilm.image}}" class="card-img-top" alt="{{selectedFilm.name}}">
      <div class="card-body">
        <h5 class="card-title">{{selectedFilm.name | dotToBracket}}</h5>
        <p *ngIf="film.name !=''" class="card-text">{{(readMore) ? film.synopsis : film.synopsis | slice:0:300}} <span *ngIf="!readMore"></span>
          <a href="javascript:" *ngIf="!readMore" (click)="readMore=true">[Leer más]</a></p>
      </div>
    </div>
  </div>
</div>
<div class="col-6">
  <div class="mx-auto mt-auto mb-auto">
    <h5 class="card-title mb-4">Editar Película</h5>
    <input class="form-control mb-3" type="number" [(ngModel)]="selectedFilm.id" placeholder="id">
    <input class="form-control mb-3" type="number" [(ngModel)]="selectedFilm.age" placeholder="año">
    <input class="form-control mb-3" type="text" [(ngModel)]="selectedFilm.name" placeholder="nombre">
    <input class="form-control mb-4" type="text" [(ngModel)]="selectedFilm.image" placeholder="imagen">
    <input class="form-control mb-4" type="text" [(ngModel)]="selectedFilm.synopsis" placeholder="sinopsis">
    <button class="btn btn-primary" (click)="addOrEdit()">Enviar</button>
  </div>
</div>
