<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div id="card" class="card col-4 border-0 mx-auto mt-auto mb-auto" *ngFor="let film of films">
          <mat-card class="film-card" *ngIf="film.synopsis | unreleasedFilm">
            <a routerLink="/detail/{{film.id}}"><img class="film-image" src="{{film.image}}" alt="{{film.name}}"></a>
            <mat-card-content>
              <h5>{{film.name}}</h5>
              <p>{{film.age | phaseCalculator}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="mx-auto mt-auto mb-auto">
        <h5 class="card-title mb-4">Añadir Película</h5>
        <input class="form-control mb-3" type="number" placeholder="id">
        <input class="form-control mb-3" type="number" placeholder="año">
        <input class="form-control mb-3" type="text" placeholder="nombre">
        <input class="form-control mb-4" type="text" placeholder="imagen">
        <input class="form-control mb-4" type="text" placeholder="sinopsis">
        <!-- <button mat-raised-button color="primary"   (click)="add(newFilm)">Enviar</button> -->
      </div>
    </div>
  </div>
</div>
