<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="card col-4 border-0 mx-auto mt-auto mb-auto" *ngFor="let film of films">
          <img src="{{film.image}}" class="card-img-top" alt="{{film.name}}" routerLink="/detail/{{film.id}}">
          <div class="card-body">
            <h5 class="card-title">{{film.name | dotToBracket}}</h5>
            <p class="card-text">{{film.age | phaseCalculator}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="mx-auto mt-auto mb-auto">
        <h5 class="card-title mb-4">Añadir Película</h5>
        <input class="form-control mb-3" type="number" placeholder="id">
        <input class="form-control mb-3" type="number" placeholder="año">
        <input class="form-control mb-3" type="text" placeholder="nombre">
        <input class="form-control mb-4" type="text" placeholder="imagen">
        <input class="form-control mb-4" type="text" placeholder="sinopsis">
        <button class="btn btn-primary" (click)="addOrEdit()">Enviar</button>
      </div>
    </div>
  </div>
</div>
