<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12">
            <p class="text-center">El Universo cinematográfico de Marvel (MCU; en inglés, Marvel Cinematic Universe) es una franquicia de medios y un universo compartido, centrada en una serie de películas de superhéroes producidas independientemente por Marvel Studios. Las películas están basadas en personajes que aparecen en los cómics estadounidenses publicados por Marvel Comics. La franquicia también incluye series de televisión, cortometrajes, series digitales y literatura. El universo compartido, al igual que el Universo Marvel original en los cómics, se estableció mediante cruce de elementos, escenarios, elenco y personajes comunes de la trama. La saga es pionera en unir a varios superhéroes y varios equipos de ellos en un solo universo, algo no visto antes en el cine de superhéroes.</p>
            <img class="img-fluid" src="./assets/img/marvel.png" alt="Marvel">
        </div>
    </div>
</div>
