*{
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    
}
#cont_principal,
#cont_recoger,
#cont_json {
    border: 2px solid grey;
    background-color:  #ebebeb;
    margin: 30px;
    padding: 10px;
    width: 550px;
     font-size: 12px;
}
select, input{
    margin: 10px;
}
#cont_principal  button,
#cont_recoger button{
    background-color:  white;
    margin: 10px;
}
textarea{
    width: 100%;
}

#cont_principal,
#cont_json {
    display: block;
}

#items, #compra{
    
    width: 400px;
    float: left;
    height: 330px;
    background-color:  #ebebeb ;
    margin: 30px;
    padding: 20px;
     align-items: center;
}
#items div{
    font-size: 12px;
    margin: 10px;
}
#items>div:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
#items div button{
    padding: 5px 20px;
}
h2{
    text-align: center;
    margin: 10px 10px 20px 10px;
}